PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
DebugLevel=3
Server={{ zabbix_agent_server_ip }}
ServerActive={{ zabbix_agent_server_ip }}
StartAgents=5
Hostname={{ zabbix_agent_client_hostname }}
HostMetadataItem=system.uname
Timeout=3
Include=/etc/zabbix/zabbix_agentd.d/*.conf